table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.cell {
  width: 30px;
  height: 30px;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

img {
  width: 20px;
  height: 20px;
}